@import "compass/css3";
/*--------Variables--------*/
:root {
  --main-background-color: white;
  --main-text-color: #434343;
  --main-star-color: #FFB600;
  --main-test-color: yellow;
}
/*--------Root---------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
}
/*----------Navbar--------*/
.navigation {
  width: 100%;
  list-style: none;
  margin: 0;

  background: var(--main-background-color);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: left;
}

.navigation li {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: block;
  padding: 1em;
  margin-right: 2em;
}

.navigation .navbar-5 {
  margin-left: 15%;
}
.navigation .navbar-6 {
  margin-left: 2em;
}

.logo {
    margin-right: 2em;
    margin-left: 5%;
    width: 75px;
    height: 75px;
    max-height: 200px;
    max-width: 200px;
}
/*---------Middle Container-------------*/

.middle-wrapper {
		display: grid;
    /*grid-gap: 10px;*/
		grid-template-columns: repeat(4, [col] 25% ) ;
		background-color: var(--main-background-color);
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin: 0 auto;
    width: 61.5vw;
    margin-top: 12.25em;
    font-size: .95em;
	}

	.box {
		background-color: white;
		color: var(--main-text-color);
		font-size: 100%;
	}

	.a {
    margin-top: 3em;
    margin-bottom: .35em;
    text-align: center;
		grid-column: col / span 4;
		grid-row: row;

	}
  .a div {
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

	.b {
    text-align: center;
		grid-column: col / span 4;
		grid-row: row 2;
    margin-bottom: 1em;
	}
  .b div {
    font-size: 1em;
    color: #FFB600;
  }
  .b p {
    color: black;
    border-bottom: solid .5px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 550;
    margin-left: .5em;
  }

	.c {
    text-align: center;
    display: inline-block;
		grid-column: col / span 6;
		grid-row: row 3;
    margin-bottom: 2em;
	}

    .c div {
      font-size: 1em;
      padding-top: .75em;
      padding-bottom: .75em;
      line-height: 1.375em;
      border: 1px #C9C9C9 solid;
      border-radius: 5px;
      color: #434343;
    }
    .c .box-c--zipcode {
      text-align: left;
      color: #8E8C8A;
      padding-left: 1em;
      width: 20%;
    }
    .c .box-c--beds {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 1.5em;
      width: 10%;
      text-align: left;
      padding-left: .5em;
    }
      .c .box-c--beds .beds--down {
        float: right;
        margin-right: .5em;
      }
    .c .box-c--baths {
      padding-left: .5em;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 10%;
      text-align: left;
    }
      .c .box-c--baths .baths--down {
        float: right;
        margin-right: .5em;
      }
    .c .box-c--date {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 1.5em;
      width: 10%;
    }
    .c .box-c--time {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 10%;
    }

	.d{
    text-align: center;
    grid-column: col / span 4;
    grid-row: row 4;
	}
    .d div {
      text-align: left;
      font-size: 1em;
      padding-top: .75em;
      padding-bottom: .75em;
      line-height: 1.375em;
      width: 28%;
    }
    .d .d--email {
      border: 1px #C9C9C9 solid;
      border-radius: 5px;
      color: #8E8C8A;
      padding-left: 1em;
      margin-right: .5em;
    }
    .d .d--price {
      text-align: center;
      border: .5px #8CC63E solid;
      background-color: #8CC63E;
      border-radius: 5px;
      color: white;
    }
    .d .fa {

    }
  .e {
    text-align: center;
    grid-column: col / span 4;
    grid-row: row 5;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .e div {
    font-size: .65em;
    font-weight: bold;
    color: #9CABB5;
  }
  .e .hours {
    border-bottom: .5px solid;
  }

.bottom-wrapper {
  font-size: .65em;
  font-weight: bold;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1%;

}

.bottom-wrapper div {
  color: #9CABB5;
}
.bottom-wrapper--terms {
  border-bottom: .5px solid;
}
