@import "compass/css3";
/*--------Variables--------*/
:root {
  --main-background-color: white;
  --main-text-color: #434343;
  --main-star-color: #FFB600;
  --main-test-color: yellow;
}
/*--------Root---------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 25%;
}
/*----------Top Container--------*/
.logo {
    margin-right: 2em;
    margin-left: 5%;
    margin-top: -1em;
    width: 72px;
    height: 52px;
}

.top-wrapper {
  margin-top: -.7em;
  margin-left: -.5em;
  width: 104%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 69% 31%);
  grid-auto-rows: minmax(100px, auto);
  font-size: 1em;
  font-weight: bold;
  height: 4.5em;
}
.top-wrapper--2 {
  display: grid;
  grid-template-columns: repeat(6, 15% 12% 10% 16% 10% 10%);
  margin-top: 1.7em;
}

.top-wrapper--3 {
  display: grid;
  grid-template-columns: repeat(3, 35% 18% 20%);
  margin-top: 1.7em;
}
.top-2--down {
  padding-left: .5em;
}
/*
.top-1 {
  width: 25%;
  margin-left: em
}
.top-2 {
  margin-left: em
}
  .top-2--down {
    margin-left: em
  }
.top-3 {
margin-left: em
}
.top-4 {
margin-left: em
}
.top-5{
  margin-left: em
}
.top-6 {
  margin-left: em
}
.top-7 {
  margin-left: em
}
.top-8 {
  margin-left: em
}*/
/*---------Middle Container-------------*/

.middle-wrapper {
		display: grid;
    /*grid-gap: 10px;*/
		grid-template-columns: repeat(4, [col] 25% ) ;
		background-color: var(--main-background-color);
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin: 0 auto;
    width: 61.5vw;
    margin-top: 14.5%;
    font-size: .95em;
    font-weight: bold;
	}

	.box {
		background-color: white;
		color: var(--main-text-color);
		font-size: 100%;
	}

	.middle-a {
    margin-top: 3em;
    margin-bottom: .55em;
    text-align: center;
		grid-column: col / span 4;
		grid-row: row;

	}
  .middle-a div {
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

	.middle-b {
    text-align: center;
		grid-column: col / span 4;
		grid-row: row 2;
    margin-bottom: 1.2em;
	}
  .middle-b div {
    font-size: 1em;
    color: #FFB600;
  }
  .middle-b p {
    color: black;
    border-bottom: solid .5px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 550;
    margin-left: .5em;
  }

	.middle-c {
    text-align: center;
    display: inline-block;
		grid-column: col / span 6;
		grid-row: row 3;
    margin-bottom: 2em;
	}

    .middle-c div {
      font-size: 1em;
      padding-top: .75em;
      padding-bottom: .75em;
      line-height: 1.375em;
      border: 1px #C9C9C9 solid;
      border-radius: 5px;
      color: #434343;
    }
    .middle-c .box-c--zipcode {
      font-weight: normal;
      text-align: left;
      color: #8E8C8A;
      padding-left: 1em;
      width: 20%;
    }
    .middle-c .box-c--beds {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 1.5em;
      width: 11%;
      text-align: left;
      padding-left: .5em;
    }
      .middle-c .box-c--beds .beds--down {
        float: right;
        margin-right: .5em;
      }
    .middle-c .box-c--baths {
      margin-left: -.3em;
      padding-left: .5em;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 11%;
      text-align: left;
    }
      .middle-c .box-c--baths .baths--down {
        float: right;
        margin-right: .5em;
      }
    .middle-c .box-c--date {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 1.5em;
      width: 10%;
    }
    .middle-c .box-c--time {
      margin-left: -.3em;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 10%;
    }

	.middle-d{
    text-align: center;
    grid-column: col / span 4;
    grid-row: row 4;
	}
    .middle-d div {
      text-align: left;
      font-size: 1em;
      padding-top: .75em;
      padding-bottom: .75em;
      line-height: 1.375em;
      width: 28%;
    }
    .middle-d .d--email {
      font-weight: normal;
      border: 1px #C9C9C9 solid;
      border-radius: 5px;
      color: #8E8C8A;
      padding-left: 1em;
      margin-right: .5em;
    }
    .middle-d .d--price {
      text-align: center;
      font-weight: bold;
      border: .5px #8CC63E solid;
      background-color: #8CC63E;
      border-radius: 5px;
      color: white;
    }

  .middle-e {
    text-align: center;
    grid-column: col / span 4;
    grid-row: row 5;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .middle-e div {
    font-size: .65em;
    font-weight: bold;
    color: #9CABB5;
  }
  .middle-e .hours {
    border-bottom: .5px solid;
  }

.bottom-wrapper {
  font-size: .65em;
  font-weight: bold;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1%;

}

/*----------Bottom Container----------->*/

.bottom-wrapper div {
  color: #9CABB5;
}
.bottom-wrapper--terms {
  border-bottom: .5px solid;
}
